<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= path_to_asset 'R.png' %>" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
      Photo App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-3">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link active"><%= fa_icon 'user' %> <%= current_user.email %></span>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-danger' %>
          </li>
        <% else %>
          <li class="nav-item mr-2">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link btn btn-outline-primary' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link btn btn-outline-success' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
